// colors
$dark: #1e2022;
$primary: #142d71;
$lighter: #77838f;

$pink: #ec615b;
$light-pink: #ffedec;
$box-bg: #eaefff;
$angle-icon: #4b6ee5;
$light-icon-bg: #edf3ff;
$light: #d9dada;

// Gradiant
$bg-grad: linear-gradient(135deg, #192b74 0.42%, #2946a1 100%);